<section id="intro">
  <h3>This is a tool intended to simplify the creation of Investigators
    for the <em>Call of Cthulhu</em> (CoC) roleplaying game.</h3>
  <p>From <a href="http://www.chaosium.com">Chaosium's</a> website:</p>
  <blockquote>
    <em>Call of Cthulhu</em> is a horror roleplaying game using the
    <em>Basic Roleplaying</em> system and based upon the
    writings of Howard Phillips Lovecraft and a few others. Lovecraft
    wrote during the 1920s and 1930s, and he became a cult figure before
    dying in 1937. Since then his stature as an author has grown, and now
    he is generally recognized as the major American horror-story writer
    of the twentieth century.
  </blockquote>
  <p>7th Edition rules are available now (as of late 2015), but my group's
    using the 6th Edition rules (published in 2005) for a variety of reasons.
    In general, we'll be using the rules for Investigator creation directly
    from that edition of the rule book. I've allowed for a few small changes
    to the process described there (such as the assignment of characteristic
    rolls to better support a player's desired profession).</p>
  <p>Keep in mind that an <em>Investigator</em> tends to differ from
    characters in many other RPG systems. They aren't (in general) intended
    to be damage-producing machines. How you decide to allocate your skill
    points is probably going to be more important than how many 18s you roll.
    Yes, there are Reroll buttons. Of course there are.</p>
  <div class="nav-buttons">
    <input type="button" value="OK, Let's Start Rolling" ui-sref="step1">
  </div>
</section>
