<section id="step8">
  <h3>A few more words.</h3>
  <p>And that's it. <em>{{name}}</em> is all done. On the next page, you'll find your investigator.</p>
  <p>I've populated the standard melee weapons with your damage bonus, but I didn't provide any ranged weapons. The only
    modifier they take are the points you put into them, and there are just too many (with too many significant differences in
    range, damage, likelihood of jams or malfunctions, etc). Along with the <em>CoC</em> source books, there are lots of sites
    on the web that can help you with specific nomenclature and statistics of weapons common to your period. And of course, you
    should work with your Keeper if you have something special in mind.</p>
  <p>For now, I've settled with a vanilla HTML display of the investigator. If you'd like to see the generated JSON file,
    click the "Show JSON" button. I hope, soon, to provide a nice PDF version, but I wanted to get this out.</p>
  <p>The source code's available at <a href="https://github.com/sulonen/CoC-Investigator">
    https://github.com/sulonen/CoC-Investigator</a>. Feel free to do whatever you'd like with it. I stuck an MIT license on it
    for just that reason. I welcome comments or suggestions - just open an issue on GitHub.</p>
  <p>Happy investigating!</p>
  <div class="nav-buttons">
    <input type="button" value="Next" ui-sref="final">
  </div>
</section>